* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.container-satu {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.name h2 {
  background: #f50057;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 20px;
}
.nav {
  list-style: none;
  display: flex;
}
.nav li {
  margin: 60px;
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
}
.nav li a {
  text-decoration: none;
  color: black;
}
.nav li :hover {
  color: #f50057;
}
.menu {
  cursor: pointer;
  visibility: hidden;
}
.menu ul li {
  list-style: none;
}
.menu::before {
  content: "\f0c9";
  color: #f50057;
  font-family: fontAwesome;
  font-size: 20px;
}
.menu.active::before {
  content: "\f00d";
  color: #f50057;
  font-family: fontAwesome;
  font-size: 20px;
}

.say {
  background: #f50057;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.say:hover {
  background: #fff;
  border: 2px solid #f50057;
}
.container-dua {
  position: relative;
  display: flex;
  margin-top: 100px;
}
.desc {
  margin-right: 350px;
  line-height: 1.5;
  width: 400px;
}
.desc h4 {
  background: #f50057;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 26px;
}

.img img {
  width: 450px;
}
.skill span::before {
  content: "\f09d";
  color: #f50057;
  font-family: fontAwesome;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.skill {
  border: 2px solid #f50057;
  padding: 5px 10px;
  width: 200px;
}
/* @media screen and (max-width: 960px) {
  .container-dua {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .desc {
    width: 310px;
    margin-bottom: 30px;
  }
  .img img {
    position: absolute;
    width: 250px;
    margin-bottom: 40px;
  }

  .nav {
    flex-direction: column;
    right: 0;
    height: 100vh;
    width: 100%;
    top: 60px;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(3%);
  }
  .menu {
    z-index: 2;
    visibility: visible;
  }
  .menu::before {
    font-size: 30px;
  }
  .container-satu {
    justify-content: space-between;
    padding: 10px 13px;
    width: 300px;
    position: relative;
  }
} */

/* //...... */

/* @media (max-width: 768px) {
  .container-satu {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
  }
  .nav li {
    margin: 40px;
  }
  .container-dua {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .isi {
    margin-left: -5px;
  }
} */

@media (max-width: 767px) {
  .container-satu {
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    width: 270px;
    padding: 10px 20px;
    display: flex;
  }
  .container-satu img {
    width: 50%;
    z-index: 2;
  }
  .container-dua {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .desc {
    width: 310px;
    margin-bottom: 30px;
  }
  .img img {
    position: absolute;
    width: 250px;
    margin-bottom: 40px;
  }
  .nav {
    position: absolute;
    flex-direction: column;
    right: 0;
    height: 100vh;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(3%);
  }
  .menu {
    z-index: 2;
    visibility: visible;
  }
  .menu::before {
    font-size: 30px;
  }
}
