
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
}
h1 {
  font-size: 60px;
}
header{
  display: flex;
  position: fixed;
  padding-left: 60px;
  align-items: center;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  z-index: 999;
}
.name h2 {
  display: flex;
  background: #f54500;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
.nav {
  display: flex;
  list-style: none;
}
.nav li {
  list-style: none;
  margin-left: 50px;
}
.nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.say a {
  background: #f54500;
  display: flex;
  border-radius: 5px;
  cursor: pointer;

  padding: 7px 8px;
  color: black;
}


.menu {
  visibility: hidden;
}
.menu ul li {
  list-style: none;
}
.menu::before {
  content: "\f0c9";
  color: #f54500;
  font-family: fontAwesome;
  font-size: 20px;
}
.menu.active::before {
  content: "\f00d";
  color: #f54500;
  font-family: fontAwesome;
  font-size: 20px;
}
main{
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 150px;
  width: 150vh;
  justify-content: space-between;
  align-items: center;
  color: #fff
}

article h4 {
  width: 50px;
  padding: 10px;
  border-radius: 8px;
  text-align: center  ;
  background-color: #f54500;
}
.skill{
  margin-top: 20px;
  width: 350px;
  border: 1px dotted #f54500;
  padding: 30px;
  border-radius: 8px;
}
.skill span::before {
  content: "\f09d";
  color: #f54500;
  font-family: fontAwesome;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -50px;
}
.skill p{
  margin-top: 20px;
  line-height: 25px;
}
aside{
  border: 1px solid #f54500;
  border-radius: 8px;
  padding: 15px;
}
.card{
  text-align: center;
}
aside img{
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
  border-radius: 50%;
  height: 85px;
}
.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a {
  color: #f2f2f2;
  text-decoration: none;
  width: 56px;
  font-size: 22px;
  transition: 0.3s linear;
  z-index: 2;
}

.sm a:hover {
  color: #f54500;
  z-index: 2;
}
footer{
  display: flex;
  margin-top: 250px;
  padding-left: 60px;
  align-items: center;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  color: #fff;
  justify-content: center;
  height: 60px;
  border-top: 1px solid #c7c0c0;
  z-index: 999;
}
footer p{
  margin-right: 20px;
}
footer a{
  text-decoration: none;
  color: #f54500;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  h1{
    font-size: 40px;
  }
  body {
    overflow-x: hidden;
  }
header {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 47vh;
  }
  .nav {
    position: absolute;
    flex-direction: column;
    right: 0;
    width: 130%;
    height: 80vh;
    top: 60px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    transition: all 1s ease;
    visibility: hidden;
    opacity: 0;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(8%);
  }
  .menu {
    z-index: 2;
    visibility: visible;
  }
  .menu::before {
    font-size: 30px;
    margin: 30px;
  }
  
  .skill{
    width: 200px;
    margin: 50px auto;
  }
  article{
    padding: 20px;
  }
 footer p{
  font-size: 13px;
 }
}

@media only screen and (min-width: 414px) and (max-width: 896px){
   article{
    margin: auto 50px;
   }
}
@media only screen and (min-width: 390px) and (max-width: 844px){
   article{
    margin: auto 50px;
   }
}

@media (max-width: 360px) {
  h1{
    font-size: 65px;
  }
 main{
  flex-direction: column;
 }
 article{
  margin: 60px auto;
 }
 .skill{
  width: 400px;
 }
 .skill p{
 font-size: 25px;
}
 footer{
  width: 65em;
  margin-top: 68em;
 }
 aside h2{
  font-size: 60px;
 }
 aside h3{
  font-size: 40px;
 }
 aside p{
  font-size: 25px;
 }
}

